<nav class="navbar" role="navigation" aria-label=""main navigation>

  <div class="navbar-brand">
    <a href="/" class="navbar-item" >
      <img src="/logo.png" alt="Home Page" height="30" width="auto">
    </a>
  </div>

  <div id="main-navbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Browse podcasts
      </a>
    </div>

    <div class="navbar-end">
      {% if user is not none %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/user/me" class="navbar-link">
            <span class="icon">
              <i class="far fa-user"></i>
            </span>
            <span>
              {{ user.first_name }}
            </span>
          </a>
          <div class="navbar-dropdown">
            <a href="/auth/logout" class="navbar-item">
              Log Out
            </a>
          </div>
        </div>
      {% else %}
        <div class="navbar-item">
          <div class="buttons">
            <a href="/auth/signup" class="button is-primary">
              <strong>Sign Up</strong>
            </a>
            <a href="/auth/login" class="button is-light">
              Log In
            </a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

</nav>