{% extends "_base_form.html" %}

{% block form_area %}
  <h1 class="title">Change Password</h1>
  <div class="container">
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <div class="field">
        <label for="{{ form.old.id }}" class="label">{{ form.old.label }}</label>
        <div class="control">
          {{ form.old(class="input") }}
        </div>
      </div>
      <div class="field">
        <label for="{{ form.new.id }}" class="label">{{ form.new.label }}</label>
        <div class="control">
          {{ form.new(class="input") }}
        </div>
      </div>
      <div class="field">
        <div class="control">
          {{ form.submit(class="button is-primary") }}
        </div>
      </div>
    </form>
  </div>
{% endblock %}
