{% extends "_base.html" %}

{% include "_navbar.html" %}
{% block content %}
  <section class="hero is-medium is-info is-bold">
    <div class="hero-body">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column">
            <h1 class="title">
              {{ podcast.name }}
            </h1>
            <div class="columns">
              <div class="column is-narrow">
                <span class="icon">
                  <i class="fas fa-user"></i>
                </span>
              </div>
              <div class="column">
                <a href="/user/{{ maintainer.username }}" class="has-text-white">
                  <span>{{ maintainer.username }}</span>
                </a>
              </div>
            </div>
            <div class="columns">
              <div class="column is-narrow">
                <span class="icon">
                  <i class="fas fa-info"></i>
                </span>
              </div>
              <div class="column">
                <span>{{ podcast.description }}</span>
              </div>
            </div>
            <div class="columns">
              <div class="column is-narrow">
                <span class="icon">
                  <i class="fas fa-bookmark"></i>
                </span>
              </div>
              <div class="column">
                <span>{{ podcast.genre }}</span>
              </div>
            </div>
            <div class="columns">
              <div class="column is-narrow">
                <span class="icon">
                  <i class="fas fa-globe"></i>
                </span>
              </div>
              <div class="column">
                <a href="{{ podcast.website_url }}" class="has-text-white">
                  <span>{{ podcast.website_url }}</span>
                </a>
              </div>
            </div>
          </div>
          {% if has_edit_perm %}
            <div class="column is-one-fifth">
              <div class="buttons">
                <a href="/podcast/{{ podcast.id_ }}/update" class="button is-warning">
                  <span class="icon">
                    <i class="fas fa-pen"></i>
                  </span>
                  <span>Update Podcast</span>
                </a>
                <a href="/podcast/{{ podcast.id_ }}/delete" class="button is-danger">
                  <span class="icon">
                    <i class="fas fa-trash"></i>
                  </span>
                  <span>Delete Podcast</span>
                </a>
                <a href="/episode/create?podcast_id={{ podcast.id_ }}" class="button is-primary">
                  <span class="icon">
                    <i class="fas fa-plus"></i>
                  </span>
                  <span>Add Episode</span>
                </a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h1 class="title">Episodes</h1>
      {% for episode in episodes %}
        <div class="columns is-centered">
          <div class="column is-one-thirds">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <h3 class="subtitle">
                    #{{ episode.episode_number }} | {{ episode.title }}
                  </h3>
                  <span class="icon">
                    <i class="fas fa-hourglass"></i>
                  </span>
                  <span>
                    {{ episode.duration }}
                  </span>
                  <br>
                  <span class="icon">
                    <i class="fas fa-info"></i>
                  </span>
                  <span>
                    {{ episode.summary }}
                  </span>
                  <br>
                </div>
                {% if has_edit_perm %}
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a href="/episode/{{ episode.id_ }}/update" class="level-item">
                        <span class="icon is-warning">
                          <i class="fas fa-pen"></i>
                        </span>
                      </a>
                      <a href="/episode/{{ episode.id_ }}/delete" class="level-item">
                        <span class="icon is-danger">
                          <i class="fas fa-trash"></i>
                        </span>
                      </a>
                    </div>
                  </nav>
                {% endif %}
              </div>
            </article>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}